/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------
= Grid
------------------------------------------------------------------------ */
.grid-col {
    float: left;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.grid-col + .grid-col { margin-left: 2.291666666667%; } /* approx 20px margin on 960width  */

.grid-col-1 { width: 6.145833333333%; }
.grid-col-2 { width: 14.6875%; }
.grid-col-3 { width: 23.229166666667%; }
.grid-col-4 { width: 31.770833333333%; }
.grid-col-5 { width: 40.3125%; }
.grid-col-6 { width: 48.854166666667%; }
.grid-col-7 { width: 57.395833333333%; }
.grid-col-8 { width: 65.9375%; }
.grid-col-9 { width: 74.479166666667%; }
.grid-col-10 { width: 83.020833333333%; }
.grid-col-11 { width: 91.5625%; }
.grid-col-12 { width: 100%; overflow: hidden; }

/* ---------------------------------------------------------------------
= Global
------------------------------------------------------------------------ */
body {
    font: normal 14px/21px Helvetica, Arial, sans-serif;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-wrapper,
.mast-header,
.mast-content,
.mast-footer {
    width: 100%;
}

.mast-header {
    background: #252525;
}

.header,
.content,
.footer {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    height: 117px;
    margin-bottom: 100px;
}

.header > h1 {
    position: relative;
    top: 13px;
    float: left;
}

.logo {
    display: block;
    width: 156px;
    height: 90px;
    background: url('../images/logo.png') no-repeat left top;
    text-indent: -9999px;
}

.header-nav {
    float: right;
    position: relative;
    top: 65px;
}

.menu-item {
    padding: 0 20px;
    float: left;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.menu-item:first-child {
    padding-left: 0;
    border-left: none;    
}

.menu-item:last-child {
    padding-right: 0;
    border-right: none;
}

.menu-item > a {
    text-decoration: none;
    text-transform: uppercase;
    font: normal 36px 'league_gothicregular';
    color: #ffffff;
    letter-spacing: 1px;
}

.current-menu-item > a,
.current-page-ancestor > a,
.menu-item > a:hover {
    border-bottom: 2px solid #ffffff;
    text-decoration: none;
}

.post-info {
    display: none;
}

.home-post:hover .post-info,
.related-post:hover .post-info {
    display: block;
}

.page-template-page-director-single-php .related-post:hover .post-info {
    display: table;
}

.content {
    margin-bottom: 50px;
}

.title {
    font: normal 36px 'league_gothicregular';
    line-height: 1.4;
}

.heading-3 {
    font: bold 20px Helvetica;
}

.oblique { font-style: oblique; }

.strong,
strong {
    font-weight: bold;
}

.em,
em {
    font-style: italic;
}

.page-head {
    margin-bottom: 39px;
}

.fleft { float: left; }
.fright { float: right;}

.hidden-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* ---------------------------------------------------------------------
= Home
------------------------------------------------------------------------ */
.home-container {
    overflow: hidden;
}

.home-post {
    margin-bottom: 20px;
    position: relative;
}

.home-post:nth-child(3n+4),
.related-post:nth-child(3n+4) {
    margin-left: 0;
}

.post-info {
    width: 100%;
    background: #000000;
    color: #ffffff;
    opacity: .75;
    position: absolute;
    bottom: 0;
}

.page-template-page-director-single-php .related-post:hover .post-info {
    height: 64px;
    text-align: center;
    top: 0;
}

.home-post .post-title {
    font-weight: 500;
    font-size: 18px;
    margin-left: 7px;
}

.home-post .post-stakeholders {
    font-size: 12px;
    margin-left: 7px;
}

.home-post .post-client:after {
    content: '|';
    padding: 0 5px 0 10px;
}

/* ---------------------------------------------------------------------
= Contact
------------------------------------------------------------------------ */
.map {
    margin: 50px 0;
    height: 375px;
}

#map-canvas { height: 100%; }

.map iframe {
    border: 3px solid #2b2b2b;
}

.office-contact {
    line-height: 1.5;
}

.office-phone {
    font-size: 16px;
}

.office-contact address {
    line-height: 1.2;
    margin: 3px 0 5px;
}

/* ---------------------------------------------------------------------
= Sidebar
------------------------------------------------------------------------ */
.sidebar > ul {
    line-height: 2.5;
}
.sidebar > ul > li > a {
    font: normal 30px 'league_gothicregular';
    color: #777;
}

.sidebar > ul > li.current_page_item > a {
    color: #000;
}

.sidebar > ul > li > a:hover {
    color: #000;
    text-decoration: none;
    transition: all .3s ease;
}
/* ---------------------------------------------------------------------
= Single Project Page and Directors
------------------------------------------------------------------------ */
.module-header {
    overflow: hidden;
}

.related-posts {
    overflow: hidden;
}

.related-posts img {
    display: block;
    max-width: 100%;
    height: auto;
}

.related-post a {
    display: block;
    position: relative;
}

.related-post {
    margin-bottom: 5px;
}

.related-post-title {
    font-size: 12px;
    padding: 2px 5px;
    display: table-cell;
    vertical-align: middle;
}

.client-name {
    font-size: 18px;
    padding-bottom: 5px;
}

.director-header { overflow: hidden; }

.btn-request-reel {
    display: block;
    margin: 10px 0 0;
    padding: 7px 10px;
    background: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    color: #ffffff;
}

.btn-request-reel:hover {
    opacity: .8;
    text-decoration: none;
}

.page-template-page-director-single-php .btn-request-reel {
    margin: 8px 10px 0 0;
}

.director-info {
    margin-top: 25px;
}

.page-template-page-director-single-php .module-header .title {
    font-size: 32px;
}

/* ---------------------------------------------------------------------
= Footer
------------------------------------------------------------------------ */
.footer {
    padding-bottom: 50px;
    text-align: center;
    line-height: 2.5;
}

.social-media-list {
    margin-top: 12px;
    overflow: hidden;
    display: inline-block;
}

.social-media-item {
    width: 29px;
    height: 29px;
    float: left;
    margin: 0 5px;
    text-indent: -9999px;
}

.social-media-item > a { display: block; }
.social-media-item:hover { opacity: .7; }
.social-twitter { background-color: #000000; }
.social-facebook { background-color: #ffffff; }
.social-twitter a { background: url('../images/twitter.png') top left no-repeat; }
.social-facebook a { background: url('../images/facebook.png') top left no-repeat; }

.social-media-item:after {
    content: '|';
    padding-left: 5px;
}

.social-media-item:last-child:after {
    content: '';
    padding-left: 0;
}

.footer .mailto,
.footer .phone {
    display: inline-block;
}

.footer .mailto:after {
    content: '|';
    padding: 0 3px 0 4px;
}

.bottom-bg {
/*    width: 100%;
    height: 15px;
    background: #252525;
    position: absolute;
    bottom: 0;*/
}